.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background:whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

.home-header h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #0a0909;
  font-weight: 600;
}

.home-paragraph {
  color: #a69797;
  max-width: 600px;
  font-weight: 600;
  font-size: 25px;
}
.inventory-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #9b210e; 
  color: #d8dce0;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.inventory-btn:hover {
  background: #f00078; 
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
